.closing-cross {
    width: 25px;
    height: 25px;
    font-size: 0.875rem;
    border-radius: 100%;
    border: 1px solid $light-gray;
    background-color: $white;
    position: absolute;
    top: 7px;
    right: 12px;
    @include flex-column;

    &:hover {
        color:$blue-transparent;
        cursor: pointer;
    }
}


