.draw {
    @include flex-column;
    gap: 20px;

    &__date {
        font-size: 0.875rem;
        color: $black;
        @include breakpoint(medium) {
            font-size: 1rem;
        }
    }

    &__balls {
        @include flex-row;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__balls-blue {
        @include flex-row;
        gap: 5px;
        flex-wrap: wrap;
    }

    &__balls-yellow {
        @include flex-row;
        gap: 5px;
    }
}