@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Sora', sans-serif;
    user-select: none;
    position: relative;
}

.none {
    display: none;
}

