@import './colors';

// Font
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

// Resets
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Sora', sans-serif;
    user-select: none;
    position: relative;
}

.none {
    display: none;
}

//typography
.selected {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: $blue;
    text-decoration-thickness: 3px;
    font-weight: 600;
}

a {
    cursor: pointer;
}

li {
    list-style: none;
}

// Animations
@keyframes fade-slide-in {
    from {
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0);
    }
    }
