$breakpoints: (
    'small': '36rem', // ≥576px
    'medium': '48rem', // ≥768px
    'large': '62rem', // ≥992p
    'x-large': '75rem', // ≥1200px
    'xx-large': '87.5rem', // ≥1400px
);

@mixin breakpoint($size) {
	@media (min-width: map-get($breakpoints, $size)) {
		@content;
	}
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin stylingForBox {
    border-radius: 15px;
    box-shadow: 1px 2px 2px $light-gray;
    border: 1px solid $gray;
}

@mixin flex-column {
    @include flexCenter;
    flex-direction: column;
}

@mixin flex-row {
    @include flexCenter;
    flex-direction: row;
}