/* @import './colors'; */

.underline {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: $blue;
    text-decoration-thickness: 3px;
}

.a-Clicked {
    font-weight: 600;
}

a {
    cursor: pointer;
}