.feedback {
    @include genericContainer;
    max-width: 450px;

    &__bubble {
        width: 100%;
        min-height: 200px;
        padding: 30px;
        background-color: $white;
        @include flex-column;
        @include stylingForBox;
        gap: 30px;
    }

    &__bubble--numBestFriends {
        @include fdbckBubble-genericLayout;
        .result__list {
            @include flex-row;
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    &__bubble--drawGap {
        @include fdbckBubble-genericLayout;
        .result-declaration {
            @include flex-row;
            flex-wrap: wrap;
            .nowrap {
                text-wrap:nowrap;
            }
        }
    }
    
    &__bubble--drawHistory {
        padding: 30px 15px;
        min-height: 150px;
        max-height: 420px;
        .innerScreen {
            width: 100%;
            height: 100%;
            @include flex-column;
            justify-content: flex-start;
            gap: 40px;
            overflow-y: scroll;
        }
        .innerScreen__message {
            color: $blue;
            font-size: 0.875rem;
            font-weight: 600;
            text-align: center;
            @include breakpoint(medium) {
                font-size: 1rem;
            }
        }
    }

}