.tools {
    width: 100%;
    margin-top: 40px;
    
    &__menu {
        padding: 40px;
        min-height: 250px;
        width: 80%;
        max-width: 500px;
        margin: auto;
        font-size: 0.875rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        @include stylingForBox;
        @include breakpoint(medium) {
            font-size: 1rem;
        }

        li {
            list-style: disc;
        }
        
        li:hover {
            color: $blue;
            font-weight: 600;
            cursor: pointer;
        }
    }
}